<h1 class="mt-4 mb-0">TuSegundazo.com</h1>
<hr />
<img src="../../assets/images/Frame 1.png" />
<hr />
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Línea</th>
      <th scope="col">Modelo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehiculo of vehiculos">
      <th scope="row">{{ vehiculo.id }}</th>
      <td>{{ vehiculo.marca }}</td>
      <td>{{ vehiculo.linea }}</td>
      <td>{{ vehiculo.modelo }}</td>
    </tr>
  </tbody>
</table>
<p class="mb-0">Total Renault: {{ renault }}</p>
<p class="mb-0">Total Chevrolet: {{ chevrolet }}</p>
<p class="mb-0">Total Nissan: {{ nissan }}</p>

<div class="d-flex w-100 justify-content-center mb-4 contacto">
  <p class="mb-0">
    Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo
  </p>
</div>
