@font-face {
  font-family: "Jaldi";
  src: url("./assets/fonts/Jaldi/Jaldi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jaldi-Bold";
  src: url("./assets/fonts/Jaldi/Jaldi-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
